<form class="form" [formGroup]="loginForm" (submit)="signin()">
  <fieldset>
    <legend>Identifiez-vous</legend>

  <lottie-animation-view
    [options]="lottieConfig"
    [width]="150"
    [height]="300"
  >
  </lottie-animation-view>

    <mat-form-field class="full-width">
      <input matInput placeholder="User name" formControlName="userName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="secretKey">
    </mat-form-field>
  </fieldset>

  <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign In</button>

</form>
